<form action="<%= cat_rental_requests_url %>" method="POST">
    <!--@cat will only be filled if we're at a parameterized route-->
    <% if @cat %>
        <h2>New rental request for: <%= @cat.name %> </h2>
        <input type="hidden" name="cat_rental_requests[cat_id]" value="<%= @cat.id %>">
    <% else %>
        <select name="cat_rental_requests[cat_id]" id="cat_selector" required>
            <% @cats.each do |cat| %>
                <option value="<%= cat.id %>"><%=cat.name%></option>
            <% end %>
        </select>
    <% end %>
    <br />
    <label for="start_date">Start Date: 
        <input type="date" name="cat_rental_requests[start_date]" id="start_date" required>
    </label><br />
    <label for="end_date">End Date:
        <input type="date" name="cat_rental_requests[end_date]" id="end_date" required>
    </label><br />
    <input type="submit" value="Place rental request">
</form>