<form action="<%= action == :edit ? cat_url(cat.id) : cats_url %>" method="POST">
<% if action == :edit %>
	<input type="hidden" name="_method" value="PATCH">
<% end %>
	<label for='name'>Name: 
		<input type="text" name="cats[name]" id="name" value=<%= cat.name %>>
	</label> <br />

	<label for="birth_date">Birth Date: 
		<input type="date" name="cats[birth_date]" id="birth_date" value= <%= cat.birth_date%>>
	</label> <br />

	<label for="color">Color: 
		<select name="cats[color]" id="color">
		<option value="" disabled <%= cat.color == nil ? "selected" : ""%> >Please Select...</option>
		<% Cat::CAT_COLORS.each do |color| %>
			<option value="<%= color %>" <%= cat.color == color ? "selected" : "" %>><%= color.capitalize %></option>
		<% end %>
		</select>
	</label> <br />

	<% Cat::SEX.each do |sex| %>
		<label for="sex_<%= sex %>"> <%= sex == "M" ? "Male" : "Female" %>
			<input  type="radio" 
					name="cats[sex]" 
					id="sex_<%= sex %>" 
					value=<%= sex %> 
					<%= cat.sex == sex ? "checked" : "" %>>
		</label>
	<% end %> <br />

	<label for="description">Description: <br />
		<textarea name="cats[description]" id="description" cols="30" rows="10"><%= cat.description%></textarea>
	</label>

	<input type="submit" value="Submit!">
</form>